.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
  margin: 28px 48px 100px;
}

@media (max-width: 1199px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 24px 32px 80px;
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
    margin: 20px 20px 60px;
  }
}